p {
    font-size: 24px;
}

li {
    font-size: large;
}

h2 {
    text-decoration: underline;
}

.basses {
    width: 200px;
}

#apple {
    width: 40px;
}

.description {
    color: blue;
    text-align: center;
}

p {
    font-size: 30px;
}

h1 {
    color: red;
}

p.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.feedback {
    color: red;
    font-size: 50px;
}

.feedback.halloweeny {
    color: orange;
    text-shadow: 3px 3px black;
}